body {
  background-color: black;
  font-family: "futura";
}

#logo {
  text-align: center;
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}

#title {
  color: white;
  text-align: center;
}

.wrapper {
  background-color: white;
}
